In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json("../courses.json")
# print(df[['index','title','date_completed']].to_string())
# df[['index','title','date_completed']]

# All Courses

In [3]:
cr = df.rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})
# cr[['#','Course Title','Completion Date']]
cr[['#','Course Title','Completion Date']].set_index('#')

                                         Course Title Completion Date
#
64                       JSON Processing with Java EE      2021-05-04
63                                Introducing Jupyter      2021-04-30
62                          pandas Essential Training      2021-04-28
61                         Data Ingestion with Python      2021-04-21
60                                      Learning JDBC      2021-04-15
59  Cloud Native Development with Node.js, Docker,...      2021-04-11
58                           MySQL Essential Training      2021-04-05
57               MySQL Installation and Configuration      2021-04-03
56                            Learning Bash Scripting      2021-04-02
55               Learning Windows Subsystem for Linux      2021-03-29
54                                  Blockchain Basics      2021-03-27
53                             Designing RESTful APIs      2021-03-26
52                                   Learning Node.js      2021-03-25
51                                 Learning REST APIs      2021-03-19
50                           Polyglot Web Development      2021-03-19
49                     Python: XML, JSON, and the Web      2021-03-12
48        JavaScript and JSON: Integration Techniques      2021-03-08
47        JavaScript and AJAX: Integration Techniques      2021-03-06
46                 Advanced PHP: Debugging Techniques      2021-03-03
45                         Docker for Data Scientists      2021-02-25
44      Docker for .NET Developers with Visual Studio      2021-02-24
43                                       Learning PHP      2021-02-23
42                          Advanced Java Programming      2021-02-18
41                        C#: Interfaces and Generics      2021-02-10
40                  C#: Delegates, Events and Lambdas      2021-02-07
39                                    C#: Collections      2021-02-04
38                   Leading without Formal Authority      2021-02-01
37                   Excel: Lookup Functions in Depth      2021-01-29
36                   Excel: Power Pivot for Beginners      2021-01-27
35                   Excel: PivotTables for Beginners      2021-01-26
34      Implementing a Data Warehouse SQL Server 2019      2021-01-19
33                      IoT Foundations: Fundamentals      2021-01-18
32                     SQL Server: Reporting Services      2021-01-18
31                    SQL Server Integration Services      2021-01-15
30                                   Learning MongoDB      2021-01-08
29                  SAP ERP Essential Training (2018)      2021-01-07
28                                 HTML5: Geolocation      2021-01-03
27                          Python Essential Training      2021-01-01
26  Cloud Computing Careers and Certifications: Fi...      2020-12-24
25           Visual Studio Code for Python Developers      2020-12-21
24                           jQuery for Web Designers      2020-12-19
23                       JavaScript for Web Designers      2020-12-13
22                     SQL Tips, Tricks, & Techniques      2020-11-28
21                      Learning JavaScript Debugging      2020-11-27
20  Succeeding in Web Development: Full Stack and ...      2020-11-20
19             Innovative Customer Service Techniques      2020-11-20
18                                    Learning Docker      2020-11-20
17                                    Learning GitHub      2020-11-09
16                                       Learning C++      2020-11-04
15                             C# & .NET: Programming      2020-10-23
14          Java Essential Training: Objects and APIs      2020-10-20
13                                      Learning Java      2020-10-17
12                  Installing Apache, MySQL, and PHP      2020-10-17
11                       Learning Regular Expressions      2020-10-13
10                   Learning the JavaScript Language      2020-10-12
9                        Phone-Based Customer Service      2020-10-09
8                                 Introduction to CSS      2020-10-09
7                        Working with Upset Customers      2020-10-08
6           Learn API Documentation with JSON and XML      2020-10-05
5                                     Learning Python      2020-10-03
4               Visual Studio Code for Web Developers      2020-09-30
3                                 Learning PowerShell      2020-09-26
2               Technical Writing: Quick Start Guides      2020-09-25
1                         Learning Linux Command Line      2020-09-25

# All Skills Covered

In [4]:
sk = df['skills']
s = set()
# loop through Lists in skills Series
for index, value in sk.items():
    # loop through phrases in List
    for strg in value:
        # add phrase to set (set prevents duplicate entries)
        s.add(strg)
        
print(f"\n\nNumber of skills: {len(s)}\n")

# print sorted set        
for skill in sorted(s):
    print(skill)

Number of skills: 92

.NET Framework
AJAX
Accountability
Apache
Application Programming Interfaces
Back-End Web Development
Bash
Big Data
Blockchain
Business Analytics
Business Intelligence (BI)
C#
C++
Cascading Style Sheets (CSS)
Cloud Application Development
Cloud Computing
Cloud Development
Communication
Computer Networking
Containerization
Customer Communication
Customer Service
Data Analysis
Data Cleaning
Data Ingestion
Data Management
Data Visualization
Data Warehouse Architecture
Data Warehousing
Database Administration
Database Design
Database Development
Database Management System (DBMS)
Databases
Docker Products
Front-end Development
Full-Stack Development
Geographic Information Systems (GIS)
Git
GitHub
HTML
IT Automation
IT Management
IT Service Management
Internet of Things (IoT)
JSON
Java
JavaScript
Kubernetes
Leadership
Linux
Machine Learning
Microsoft Excel
Microsoft SQL Server
Microsoft Visual Studio Code
MongoDB
MySQL
Network Administration
Node.js
Object-Oriented Programming (OOP)
PHP
Pandas (Software)
Pattern Matching
Perl
Phone Coverage
Pivot Tables
Polyglot
PowerShell
Python
Python (Programming Language)
REST APIs
RESTful architecture
Regular Expressions
Ruby
SAP ERP
SQL
SQL Server Integration Services (SSIS)
SQL Server Reporting Services (SSRS)
Shell Scripting
Small Business Management
Software Design
Software Development
Technical Writing
Version Control
Visual Studio
Web Design
Web Development
Web Standards
Windows 10
XML
Xdebug
jQuery

## May 2021 Courses

In [5]:
may21_records = df[df['date_completed'].between('2021-05-01','2021-05-31')]
may21_records['index'].count()

1

In [6]:
may21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                    Course Title Completion Date
#
64  JSON Processing with Java EE      2021-05-04

## April 2021 Courses

In [24]:
apr21_records = df[df['date_completed'].between('2021-04-01','2021-04-30')]
# apr21_records['index'].count()
# print("{0} courses completed in April 2021.".format(apr21_records['index'].count()))
# print(f"{apr21_records['index'].count()} courses completed in April 2021.")

In [25]:
print(f"\n\n{apr21_records['index'].count()} courses completed in April 2021.\n")
apr21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

8 courses completed in April 2021.

                                         Course Title Completion Date
#
63                                Introducing Jupyter      2021-04-30
62                          pandas Essential Training      2021-04-28
61                         Data Ingestion with Python      2021-04-21
60                                      Learning JDBC      2021-04-15
59  Cloud Native Development with Node.js, Docker,...      2021-04-11
58                           MySQL Essential Training      2021-04-05
57               MySQL Installation and Configuration      2021-04-03
56                            Learning Bash Scripting      2021-04-02

## March 2021 Courses

In [9]:
mar21_records = df[df['date_completed'].between('2021-03-01','2021-03-31')]
# mar21_records['index'].count()
print(f"{mar21_records['index'].count()} courses completed in March 2021.")

10 courses completed in March 2021.

In [10]:
mar21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                   Course Title Completion Date
#
55         Learning Windows Subsystem for Linux      2021-03-29
54                            Blockchain Basics      2021-03-27
53                       Designing RESTful APIs      2021-03-26
52                             Learning Node.js      2021-03-25
51                           Learning REST APIs      2021-03-19
50                     Polyglot Web Development      2021-03-19
49               Python: XML, JSON, and the Web      2021-03-12
48  JavaScript and JSON: Integration Techniques      2021-03-08
47  JavaScript and AJAX: Integration Techniques      2021-03-06
46           Advanced PHP: Debugging Techniques      2021-03-03

## February 2021 Courses

In [11]:
feb21_records = df[df['date_completed'].between('2021-02-01','2021-02-28')]
# feb21_records['index'].count()
print(f"{feb21_records['index'].count()} courses completed in February 2021.")

8 courses completed in February 2021.

In [12]:
feb21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                     Course Title Completion Date
#
45                     Docker for Data Scientists      2021-02-25
44  Docker for .NET Developers with Visual Studio      2021-02-24
43                                   Learning PHP      2021-02-23
42                      Advanced Java Programming      2021-02-18
41                    C#: Interfaces and Generics      2021-02-10
40              C#: Delegates, Events and Lambdas      2021-02-07
39                                C#: Collections      2021-02-04
38               Leading without Formal Authority      2021-02-01

## January 2021 Courses

In [13]:
jan21_records = df[df['date_completed'].between('2021-01-01','2021-01-31')]
# jan21_records['index'].count()
print(f"{jan21_records['index'].count()} courses completed in January 2021.")

11 courses completed in January 2021.

In [14]:
jan21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                     Course Title Completion Date
#
37               Excel: Lookup Functions in Depth      2021-01-29
36               Excel: Power Pivot for Beginners      2021-01-27
35               Excel: PivotTables for Beginners      2021-01-26
34  Implementing a Data Warehouse SQL Server 2019      2021-01-19
33                  IoT Foundations: Fundamentals      2021-01-18
32                 SQL Server: Reporting Services      2021-01-18
31                SQL Server Integration Services      2021-01-15
30                               Learning MongoDB      2021-01-08
29              SAP ERP Essential Training (2018)      2021-01-07
28                             HTML5: Geolocation      2021-01-03
27                      Python Essential Training      2021-01-01

## December 2020 Courses

In [15]:
dec20_records = df[df['date_completed'].between('2020-12-01','2020-12-31')]
# dec20_records['index'].count()
print(f"{dec20_records['index'].count()} courses completed in December 2020.")

4 courses completed in December 2020.

In [16]:
dec20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                         Course Title Completion Date
#
26  Cloud Computing Careers and Certifications: Fi...      2020-12-24
25           Visual Studio Code for Python Developers      2020-12-21
24                           jQuery for Web Designers      2020-12-19
23                       JavaScript for Web Designers      2020-12-13

## November 2020 Courses

In [17]:
nov20_records = df[df['date_completed'].between('2020-11-01','2020-11-30')]
# nov20_records['index'].count()
print(f"{nov20_records['index'].count()} courses completed in November 2020.")

7 courses completed in November 2020.

In [18]:
nov20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                         Course Title Completion Date
#
22                     SQL Tips, Tricks, & Techniques      2020-11-28
21                      Learning JavaScript Debugging      2020-11-27
20  Succeeding in Web Development: Full Stack and ...      2020-11-20
19             Innovative Customer Service Techniques      2020-11-20
18                                    Learning Docker      2020-11-20
17                                    Learning GitHub      2020-11-09
16                                       Learning C++      2020-11-04

## October 2020 Courses

In [19]:
oct20_records = df[df['date_completed'].between('2020-10-01','2020-10-31')]
# oct20_records['index'].count()
print(f"{oct20_records['index'].count()} courses completed in October 2020.")

11 courses completed in October 2020.

In [20]:
oct20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                                 Course Title Completion Date
#
15                     C# & .NET: Programming      2020-10-23
14  Java Essential Training: Objects and APIs      2020-10-20
13                              Learning Java      2020-10-17
12          Installing Apache, MySQL, and PHP      2020-10-17
11               Learning Regular Expressions      2020-10-13
10           Learning the JavaScript Language      2020-10-12
9                Phone-Based Customer Service      2020-10-09
8                         Introduction to CSS      2020-10-09
7                Working with Upset Customers      2020-10-08
6   Learn API Documentation with JSON and XML      2020-10-05
5                             Learning Python      2020-10-03

## September 2020 Courses

In [21]:
sep20_records = df[df['date_completed'].between('2020-09-01','2020-09-30')]
# sep20_records['index'].count()
print(f"{sep20_records['index'].count()} courses completed in September 2020.")

4 courses completed in September 2020.

In [22]:
sep20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'}).set_index('#')

                            Course Title Completion Date
#
4  Visual Studio Code for Web Developers      2020-09-30
3                    Learning PowerShell      2020-09-26
2  Technical Writing: Quick Start Guides      2020-09-25
1            Learning Linux Command Line      2020-09-25