In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json("../courses.json")
# print(df[['index','title','date_completed']].to_string())
# df[['index','title','date_completed']]

# All Courses

In [3]:
cr = df.rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})
cr[['#','Course Title','Completion Date']]

     #                                       Course Title Completion Date
0   64                       JSON Processing with Java EE      2021-05-04
1   63                                Introducing Jupyter      2021-04-30
2   62                          pandas Essential Training      2021-04-28
3   61                         Data Ingestion with Python      2021-04-21
4   60                                      Learning JDBC      2021-04-15
5   59  Cloud Native Development with Node.js, Docker,...      2021-04-11
6   58                           MySQL Essential Training      2021-04-05
7   57               MySQL Installation and Configuration      2021-04-03
8   56                            Learning Bash Scripting      2021-04-02
9   55               Learning Windows Subsystem for Linux      2021-03-29
10  54                                  Blockchain Basics      2021-03-27
11  53                             Designing RESTful APIs      2021-03-26
12  52                                   Learning Node.js      2021-03-25
13  51                                 Learning REST APIs      2021-03-19
14  50                           Polyglot Web Development      2021-03-19
15  49                     Python: XML, JSON, and the Web      2021-03-12
16  48        JavaScript and JSON: Integration Techniques      2021-03-08
17  47        JavaScript and AJAX: Integration Techniques      2021-03-06
18  46                 Advanced PHP: Debugging Techniques      2021-03-03
19  45                         Docker for Data Scientists      2021-02-25
20  44      Docker for .NET Developers with Visual Studio      2021-02-24
21  43                                       Learning PHP      2021-02-23
22  42                          Advanced Java Programming      2021-02-18
23  41                        C#: Interfaces and Generics      2021-02-10
24  40                  C#: Delegates, Events and Lambdas      2021-02-07
25  39                                    C#: Collections      2021-02-04
26  38                   Leading without Formal Authority      2021-02-01
27  37                   Excel: Lookup Functions in Depth      2021-01-29
28  36                   Excel: Power Pivot for Beginners      2021-01-27
29  35                   Excel: PivotTables for Beginners      2021-01-26
30  34      Implementing a Data Warehouse SQL Server 2019      2021-01-19
31  33                      IoT Foundations: Fundamentals      2021-01-18
32  32                     SQL Server: Reporting Services      2021-01-18
33  31                    SQL Server Integration Services      2021-01-15
34  30                                   Learning MongoDB      2021-01-08
35  29                  SAP ERP Essential Training (2018)      2021-01-07
36  28                                 HTML5: Geolocation      2021-01-03
37  27                          Python Essential Training      2021-01-01
38  26  Cloud Computing Careers and Certifications: Fi...      2020-12-24
39  25           Visual Studio Code for Python Developers      2020-12-21
40  24                           jQuery for Web Designers      2020-12-19
41  23                       JavaScript for Web Designers      2020-12-13
42  22                     SQL Tips, Tricks, & Techniques      2020-11-28
43  21                      Learning JavaScript Debugging      2020-11-27
44  20  Succeeding in Web Development: Full Stack and ...      2020-11-20
45  19             Innovative Customer Service Techniques      2020-11-20
46  18                                    Learning Docker      2020-11-20
47  17                                    Learning GitHub      2020-11-09
48  16                                       Learning C++      2020-11-04
49  15                             C# & .NET: Programming      2020-10-23
50  14          Java Essential Training: Objects and APIs      2020-10-20
51  13                                      Learning Java      2020-10-17
52  12                  Installing Apache, MySQL, and PHP      2020-10-17
53  11                       Learning Regular Expressions      2020-10-13
54  10                   Learning the JavaScript Language      2020-10-12
55   9                       Phone-Based Customer Service      2020-10-09
56   8                                Introduction to CSS      2020-10-09
57   7                       Working with Upset Customers      2020-10-08
58   6          Learn API Documentation with JSON and XML      2020-10-05
59   5                                    Learning Python      2020-10-03
60   4              Visual Studio Code for Web Developers      2020-09-30
61   3                                Learning PowerShell      2020-09-26
62   2              Technical Writing: Quick Start Guides      2020-09-25
63   1                        Learning Linux Command Line      2020-09-25

# All Skills Covered

In [4]:
sk = df['skills']
sk

0                         [Software Design, JSON, Java]
1                                  [Data Visualization]
2                    [Pandas (Software), Data Analysis]
3     [Python (Programming Language), Data Managemen...
4                                                [Java]
5     [Cloud Application Development, Kubernetes, No...
6     [Database Management System (DBMS), MySQL, Dat...
7            [Database Management System (DBMS), MySQL]
8                               [Bash, Shell Scripting]
9            [IT Service Management, Windows 10, Linux]
10                    [Databases, Big Data, Blockchain]
11                    [REST APIs, RESTful architecture]
12    [Front-end Development, Node.js, Back-End Web ...
13    [REST APIs, Front-end Development, Application...
14    [Python, MongoDB, Polyglot, Application Progra...
15                      [Python (Programming Language)]
16            [Front-end Development, JavaScript, JSON]
17            [AJAX, Front-end Development, JavaScript]
18              [Xdebug, PHP, Back-End Web Development]
19    [Python (Programming Language), Machine Learni...
20                     [Docker Products, Visual Studio]
21                      [PHP, Back-End Web Development]
22                         [Software Development, Java]
23              [Object-Oriented Programming (OOP), C#]
24              [Object-Oriented Programming (OOP), C#]
25                                                 [C#]
26          [Communication, Accountability, Leadership]
27                     [Data Analysis, Microsoft Excel]
28    [Data Management, Data Analysis, Microsoft Excel]
29    [Pivot Tables, Business Analytics, Microsoft E...
30    [Database Design, Data Warehousing, Data Wareh...
31                           [Internet of Things (IoT)]
32    [SQL Server Reporting Services (SSRS), Busines...
33    [Database Administration, Microsoft SQL Server...
34    [MongoDB, Database Development, Full-Stack Dev...
35                                            [SAP ERP]
36         [Geographic Information Systems (GIS), HTML]
37                      [Python (Programming Language)]
38                     [Cloud Computing, IT Management]
39    [Python (Programming Language), Microsoft Visu...
40                      [Front-end Development, jQuery]
41      [Front-end Development, JavaScript, Web Design]
42                                      [Big Data, SQL]
43                                         [JavaScript]
44            [Web Development, Full-Stack Development]
45        [Small Business Management, Customer Service]
46    [Cloud Computing, Cloud Development, Docker Pr...
47                       [Git, GitHub, Version Control]
48                                                [C++]
49                                 [.NET Framework, C#]
50                                               [Java]
51                         [Software Development, Java]
52           [Database Development, MySQL, PHP, Apache]
53             [ Pattern Matching, Regular Expressions]
54                  [Front-end Development, JavaScript]
55    [Communication, Small Business Management, Cus...
56    [Front-end Development, Cascading Style Sheets...
57           [Customer Communication, Customer Service]
58      [Application Programming Interfaces, JSON, XML]
59                      [Python (Programming Language)]
60    [Front-end Development, Back-End Web Developme...
61                          [PowerShell, IT Automation]
62                                  [Technical Writing]
63    [Bash, Network Administration, Computer Networ...
Name: skills, dtype: object

## May 2021 Courses

In [5]:
may21_records = df[df['date_completed'].between('2021-05-01','2021-05-31')]
may21_records['index'].count()

1

In [6]:
may21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

    #                  Course Title Completion Date
0  64  JSON Processing with Java EE      2021-05-04

## April 2021 Courses

In [7]:
apr21_records = df[df['date_completed'].between('2021-04-01','2021-04-30')]
apr21_records['index'].count()

8

In [8]:
apr21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

    #                                       Course Title Completion Date
1  63                                Introducing Jupyter      2021-04-30
2  62                          pandas Essential Training      2021-04-28
3  61                         Data Ingestion with Python      2021-04-21
4  60                                      Learning JDBC      2021-04-15
5  59  Cloud Native Development with Node.js, Docker,...      2021-04-11
6  58                           MySQL Essential Training      2021-04-05
7  57               MySQL Installation and Configuration      2021-04-03
8  56                            Learning Bash Scripting      2021-04-02

## March 2021 Courses

In [9]:
mar21_records = df[df['date_completed'].between('2021-03-01','2021-03-31')]
mar21_records['index'].count()

10

In [10]:
mar21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                                 Course Title Completion Date
9   55         Learning Windows Subsystem for Linux      2021-03-29
10  54                            Blockchain Basics      2021-03-27
11  53                       Designing RESTful APIs      2021-03-26
12  52                             Learning Node.js      2021-03-25
13  51                           Learning REST APIs      2021-03-19
14  50                     Polyglot Web Development      2021-03-19
15  49               Python: XML, JSON, and the Web      2021-03-12
16  48  JavaScript and JSON: Integration Techniques      2021-03-08
17  47  JavaScript and AJAX: Integration Techniques      2021-03-06
18  46           Advanced PHP: Debugging Techniques      2021-03-03

## February 2021 Courses

In [11]:
feb21_records = df[df['date_completed'].between('2021-02-01','2021-02-28')]
feb21_records['index'].count()

8

In [12]:
feb21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                                   Course Title Completion Date
19  45                     Docker for Data Scientists      2021-02-25
20  44  Docker for .NET Developers with Visual Studio      2021-02-24
21  43                                   Learning PHP      2021-02-23
22  42                      Advanced Java Programming      2021-02-18
23  41                    C#: Interfaces and Generics      2021-02-10
24  40              C#: Delegates, Events and Lambdas      2021-02-07
25  39                                C#: Collections      2021-02-04
26  38               Leading without Formal Authority      2021-02-01

## January 2021 Courses

In [13]:
jan21_records = df[df['date_completed'].between('2021-01-01','2021-01-31')]
jan21_records['index'].count()

11

In [14]:
jan21_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                                   Course Title Completion Date
27  37               Excel: Lookup Functions in Depth      2021-01-29
28  36               Excel: Power Pivot for Beginners      2021-01-27
29  35               Excel: PivotTables for Beginners      2021-01-26
30  34  Implementing a Data Warehouse SQL Server 2019      2021-01-19
31  33                  IoT Foundations: Fundamentals      2021-01-18
32  32                 SQL Server: Reporting Services      2021-01-18
33  31                SQL Server Integration Services      2021-01-15
34  30                               Learning MongoDB      2021-01-08
35  29              SAP ERP Essential Training (2018)      2021-01-07
36  28                             HTML5: Geolocation      2021-01-03
37  27                      Python Essential Training      2021-01-01

## December 2020 Courses

In [15]:
dec20_records = df[df['date_completed'].between('2020-12-01','2020-12-31')]
dec20_records['index'].count()

4

In [16]:
dec20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                                       Course Title Completion Date
38  26  Cloud Computing Careers and Certifications: Fi...      2020-12-24
39  25           Visual Studio Code for Python Developers      2020-12-21
40  24                           jQuery for Web Designers      2020-12-19
41  23                       JavaScript for Web Designers      2020-12-13

## November 2020 Courses

In [17]:
nov20_records = df[df['date_completed'].between('2020-11-01','2020-11-30')]
nov20_records['index'].count()

7

In [18]:
nov20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                                       Course Title Completion Date
42  22                     SQL Tips, Tricks, & Techniques      2020-11-28
43  21                      Learning JavaScript Debugging      2020-11-27
44  20  Succeeding in Web Development: Full Stack and ...      2020-11-20
45  19             Innovative Customer Service Techniques      2020-11-20
46  18                                    Learning Docker      2020-11-20
47  17                                    Learning GitHub      2020-11-09
48  16                                       Learning C++      2020-11-04

## October 2020 Courses

In [19]:
oct20_records = df[df['date_completed'].between('2020-10-01','2020-10-31')]
oct20_records['index'].count()

11

In [20]:
oct20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

     #                               Course Title Completion Date
49  15                     C# & .NET: Programming      2020-10-23
50  14  Java Essential Training: Objects and APIs      2020-10-20
51  13                              Learning Java      2020-10-17
52  12          Installing Apache, MySQL, and PHP      2020-10-17
53  11               Learning Regular Expressions      2020-10-13
54  10           Learning the JavaScript Language      2020-10-12
55   9               Phone-Based Customer Service      2020-10-09
56   8                        Introduction to CSS      2020-10-09
57   7               Working with Upset Customers      2020-10-08
58   6  Learn API Documentation with JSON and XML      2020-10-05
59   5                            Learning Python      2020-10-03

## September 2020 Courses

In [21]:
sep20_records = df[df['date_completed'].between('2020-09-01','2020-09-30')]
sep20_records['index'].count()

4

In [22]:
sep20_records[['index','title','date_completed']].rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})

    #                           Course Title Completion Date
60  4  Visual Studio Code for Web Developers      2020-09-30
61  3                    Learning PowerShell      2020-09-26
62  2  Technical Writing: Quick Start Guides      2020-09-25
63  1            Learning Linux Command Line      2020-09-25