<img src="https://rogert8.github.io/courses/images/python_logo.gif" width="80" align="left">
<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250" align="left">
<img src="https://rogert8.github.io/courses/images/LIL.JPG" width="200" align="right"><img src="https://rogert8.github.io/courses/images/RR.PNG" width="70" align="right">

In [117]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', None)
# import matplotlib.pyplot as plt

In [118]:
df = pd.read_json("../courses.json")

# All Courses

In [119]:
cr = df.rename(columns={'index': '#', 'title': 'Course Title', 'date_completed': 'Completion Date'})
cr[['#','Course Title','Completion Date']].set_index('#')

,Course Title,Completion Date
#,,
202,Copilot for Windows: Leveraging your PC's AI Assistant,2024-08-22
201,What is Copilot? Get Started with Microsoft's Everyday AI Companion,2024-08-21
200,ChatGPT Prompts for Jobseekers,2024-08-15
199,Ethics in the Age of Generative AI,2024-08-05
198,How to Follow Up on a Job Application,2024-08-01
197,Controlling ChatGPT with Custom Instructions or API System Messages,2024-04-21
196,How to Research and Write Using Generative AI Tools,2024-04-05
195,How to Boost Your Productivity with AI Tools,2024-02-10
194,Advanced SQL for Application Development,2023-12-18
193,"Advanced SQL: Logical Query Processing, Part 2",2023-11-13
192,Advanced SQL â€“ Window Functions,2023-08-06
191,Introduction to Conversational AI,2023-06-12
190,AI Trends,2023-05-08
189,Goal Setting: Objectives and Key Results (OKRs),2023-04-24
188,Accounting Foundations: Bookkeeping,2023-01-31
187,Root Cause Analysis: Getting to the Root of Business Problems,2023-01-31
186,Outlook: Time Management with Calendar and Tasks,2022-12-27
185,Programming Foundations: Databases,2022-12-26
184,Creating API Documentation,2022-11-30
183,Advanced SQL for Query Tuning and Performance Optimization,2022-11-10
182,Improving Your Listening Skills,2022-10-30
181,Using Microsoft Teams and Outlook Together: Maximizing Productivity,2022-10-29
180,Time Management: Working from Home,2022-10-28
179,Customer Service: Call Control Strategies,2022-10-18
178,Introducing Desktop and .NET Core,2022-10-13
177,"Advanced SQL: Logical Query Processing, Part 1",2022-09-29
176,Ruby on Rails: Debugging,2022-09-28
175,Ruby on Rails Models and Associations,2022-09-04
174,Ruby on Rails Controllers and Views,2022-08-28
173,Ruby on Rails 7 Essential Training,2022-08-21
172,SQL Server Database Triggers,2022-08-17
171,Program Databases with Transact-SQL,2022-08-16
170,Advanced Responsive Layouts with CSS Flexbox,2022-08-13
169,Learning PowerShell Core,2022-08-07
168,Building Responsive Forms with Flexbox,2022-08-04
167,Python: Decorators,2022-07-31
166,Learning React Native,2022-07-29
165,SEO Foundations,2022-07-21
164,Learning Go,2022-07-18
163,ASP.NET Core in .NET 6: Dependency Injection,2022-07-01
162,Cassandra Data Modeling Essential Training,2022-06-29
161,Linux System Engineer: Database Servers Using MariaDB,2022-06-27
160,Python Automation and Testing,2022-06-23
159,Unit Testing in Python,2022-06-15
158,NoSQL Essential Training,2022-05-30
157,React Native Ecosystem and Workflow,2022-05-21
156,React: Ecosystems,2022-05-20
155,Linux: Network Configuration,2022-05-15
154,TypeScript: Object-Oriented Programming,2022-05-09
153,Learning TypeScript,2022-05-06
152,Angular: Ecosystems,2022-04-27
151,Learning the Angular CLI,2022-04-25
150,Learning Angular,2022-04-20
149,AWS for Developers: Amazon Corretto and Java,2022-04-13
148,Code Clinic: Java,2022-04-04
147,Go Essential Training,2022-03-31
146,Build and Deploy Containerized Apps with GitHub Actions,2022-03-28
145,JMeter: Performance and Load Testing,2022-03-20
144,Learning GraphQL,2022-03-13
143,Learning Python with PyCharm,2022-02-27
142,Linux System Engineer: Networking and SSH,2022-02-23
141,Linux: Overview and Installation,2022-02-20
140,API Test Automation with SoapUI,2022-02-15
139,Virtual Reality Foundations,2022-02-09
138,Job Interview Nano Tips with Madeline Mann,2022-02-09
137,Understanding Augmented and Virtual Reality: An Introduction,2022-02-09
136,Learning Redis,2022-02-04
135,Python 3.10 First Look,2022-02-01
134,Python Tools: Jupyter vs. PyCharm,2022-01-30
133,Postman Essential Training,2022-01-27
132,Introducing Postman,2022-01-23
131,Agile Testing,2022-01-15
130,How Blockchains Will Change Business,2022-01-12
129,Tips for Better Business Writing,2022-01-12
128,Blockchain: Learning Solidity,2022-01-07
127,Blockchain: Beyond the Basics,2022-01-07
126,Using Docker and .NET Core,2022-01-02
125,Fundamentals of Dynamic Programming,2021-12-30
124,UX Design: 7 Implementation Planning,2021-12-24
123,UX Design: 6 Paper Prototyping,2021-12-22
122,UX Design: 5 Creating Scenarios and Storyboards,2021-12-19
121,UX Design: 4 Ideation,2021-12-16
120,Service Metrics for Customer Service,2021-12-14
119,UX Design: 3 Creating Personas,2021-12-08
118,UX Design: 2 Analyzing User Data,2021-12-06
117,UX Design: 1 Overview,2021-12-04
116,Python Object-Oriented Programming,2021-12-03
115,Java Object-Oriented Programming,2021-11-27
114,Introducing Maven,2021-11-22
113,Customer Success Management Fundamentals,2021-11-21
112,CSS: Display,2021-11-13
111,Making Sense of the CSS Box Model,2021-11-11
110,Customer Service: Managing Customer Expectations,2021-11-08
109,Test Automation Foundations,2021-11-05
108,Software Testing Foundations: Continuous Testing and DevOps,2021-10-30
107,Selenium Essential Training,2021-10-28
106,Docker on AWS,2021-10-21
105,Learning NuGet,2021-10-16
104,AWS Security Best Practices for Developers,2021-10-14
103,Learning Selenium,2021-10-09
102,Programming Foundations: Software Testing/QA,2021-10-06
101,Improve Cognitive Flexibility at Work,2021-10-05
100,Statistics Foundations: 2,2021-10-04
99,Learning R,2021-09-25
98,Learning Network Troubleshooting,2021-09-19
97,R Programming in Data Science: Setup and Start,2021-09-15
96,Statistics Foundations: Probability,2021-09-07
95,Customer Service Foundations,2021-09-07
94,Statistics Foundations: The Basics,2021-09-01
93,Learning Amazon Web Services Lambda,2021-08-31
92,Customer Service: Serving Customers Through Chat and Text,2021-08-27
91,Vue.js for Web Designers,2021-08-23
90,Software Design: Modeling with UML,2021-08-21
89,XML Essential Training,2021-08-15
88,Customer Service: Problem Solving and Troubleshooting,2021-08-13
87,ASP.NET Web Forms Essential Training,2021-08-08
86,Learning Amazon Web Services (AWS) for Developers,2021-08-04
85,Advanced Pandas,2021-07-31
84,PostgreSQL Essential Training,2021-07-29
83,Creativity at Work: A Short Course from Seth Godin,2021-07-27
82,Data Engineering Foundations,2021-07-24
81,AWS for Developers: DynamoDB,2021-07-21
80,Building Serverless Apps on AWS,2021-07-18
79,Build a Google Maps App with JavaScript,2021-07-16
78,Angular Essential Training,2021-07-15
77,Python GUI Development with Tkinter,2021-07-12
76,"Learn Emotional Intelligence, the Key Determiner of Success",2021-06-30
75,WordPress 5 Essential Training: Site Administration,2021-06-29
74,WordPress 5 Essential Training,2021-06-27
73,Installing and Running WordPress: Local by FlyWheel,2021-06-25
72,Serverless and Microservices for AWS,2021-06-21
71,Advanced Python,2021-06-17
70,Learning React.js,2021-06-10
69,Introducing Entity Framework,2021-06-06
68,SQL Code Challenges,2021-06-05
67,Building Web APIs with ASP.NET Web API 2.2,2021-06-02
66,Communication within Teams,2021-05-28
65,Learning Java Applications,2021-05-09
64,JSON Processing with Java EE,2021-05-04
63,Introducing Jupyter,2021-04-30
62,pandas Essential Training,2021-04-28
61,Data Ingestion with Python,2021-04-21
60,Learning JDBC,2021-04-15
59,"Cloud Native Development with Node.js, Docker, and Kubernetes",2021-04-11
58,MySQL Essential Training,2021-04-05
57,MySQL Installation and Configuration,2021-04-03
56,Learning Bash Scripting,2021-04-02
55,Learning Windows Subsystem for Linux,2021-03-29
54,Blockchain Basics,2021-03-27
53,Designing RESTful APIs,2021-03-26
52,Learning Node.js,2021-03-25
51,Learning REST APIs,2021-03-19
50,Polyglot Web Development,2021-03-19
49,"Python: XML, JSON, and the Web",2021-03-12
48,JavaScript and JSON: Integration Techniques,2021-03-08
47,JavaScript and AJAX: Integration Techniques,2021-03-06
46,Advanced PHP: Debugging Techniques,2021-03-03
45,Docker for Data Scientists,2021-02-25
44,Docker for .NET Developers with Visual Studio,2021-02-24
43,Learning PHP,2021-02-23
42,Advanced Java Programming,2021-02-18
41,C#: Interfaces and Generics,2021-02-10
40,"C#: Delegates, Events and Lambdas",2021-02-07
39,C#: Collections,2021-02-04
38,Leading without Formal Authority,2021-02-01
37,Excel: Lookup Functions in Depth,2021-01-29
36,Excel: Power Pivot for Beginners,2021-01-27
35,Excel: PivotTables for Beginners,2021-01-26
34,Implementing a Data Warehouse SQL Server 2019,2021-01-19
33,IoT Foundations: Fundamentals,2021-01-18
32,SQL Server: Reporting Services,2021-01-18
31,SQL Server Integration Services,2021-01-15
30,Learning MongoDB,2021-01-08
29,SAP ERP Essential Training (2018),2021-01-07
28,HTML5: Geolocation,2021-01-03
27,Python Essential Training,2021-01-01
26,Cloud Computing Careers and Certifications: First Steps,2020-12-24
25,Visual Studio Code for Python Developers,2020-12-21
24,jQuery for Web Designers,2020-12-19
23,JavaScript for Web Designers,2020-12-13
22,"SQL Tips, Tricks, & Techniques",2020-11-28
21,Learning JavaScript Debugging,2020-11-27
20,Succeeding in Web Development: Full Stack and Front End,2020-11-20
19,Innovative Customer Service Techniques,2020-11-20
18,Learning Docker,2020-11-20
17,Learning GitHub,2020-11-09
16,Learning C++,2020-11-04
15,C# & .NET: Programming,2020-10-23
14,Java Essential Training: Objects and APIs,2020-10-20
13,Learning Java,2020-10-17
12,"Installing Apache, MySQL, and PHP",2020-10-17
11,Learning Regular Expressions,2020-10-13
10,Learning the JavaScript Language,2020-10-12
9,Phone-Based Customer Service,2020-10-09
8,Introduction to CSS,2020-10-09
7,Working with Upset Customers,2020-10-08
6,Learn API Documentation with JSON and XML,2020-10-05
5,Learning Python,2020-10-03
4,Visual Studio Code for Web Developers,2020-09-30
3,Learning PowerShell,2020-09-26
2,Technical Writing: Quick Start Guides,2020-09-25
1,Learning Linux Command Line,2020-09-25

# All Skills Covered

In [120]:
df = pd.read_json("../courses.json")
sk = df['skills']
s = set()
# loop through Lists in skills Series
for index, value in sk.items():
    # loop through phrases in List
    for phrase in value:
        # add phrase to Set (Set prevents duplicate entries)
        s.add(phrase)
        
print(f"\n\nNumber of skills: {len(s)}\n")

# convert to List; sort, with casefold to handle anomalies such as "jQuery"
s = list(s)
s.sort(key=str.casefold)

# print sorted List
for skill in s:
    print(skill)

Number of skills: 227

.NET Core
.NET Framework
Accountability
Active Listening
AEC
Agile Testing
AJAX
Amazon DynamoDB
Amazon Web Services (AWS)
Angular
Angular Command Line Interface (CLI)
Apache
API Development
API Documentation
API Testing
Application Development
Application Frameworks
Application Programming Interfaces
Application Programming Interfaces (API)
Artificial Intelligence (AI)
Artificial Intelligence for Business
Artificial Intelligence for Design
ASP.NET
ASP.NET Core
Augmented Reality (AR)
AWS Lambda
Back-End Web Development
Bash
Big Data
Blockchain
Blogging Software
Bookkeeping
Business Analysis
Business Analytics
Business Innovation
Business Intelligence (BI)
Business Writing
C#
C++
Call Control
Cascading Style Sheets (CSS)
Cassandra
ChatGPT
Cloud Administration
Cloud Application Development
Cloud Computing
Cloud Development
Cloud Security
Coding Practices
Cognitive Flexibility
Communication
Computer Ethics
Computer Networking
Containerization
Content Management
Content Management Systems (CMS)
Content Strategy
Conversational AI
Creative Ideation
Creative Problem Solving
Cross-platform Development
CSS Flexbox
Customer Communication
Customer Loyalty
Customer Service
Customer Service Management
Customer Service Systems
Customer Success
Data Analysis
Data Cleaning
Data Engineering
Data Ingestion
Data Management
Data Modeling
Data Visualization
Data Warehouse Architecture
Data Warehousing
Database Administration
Database Design
Database Development
Database Management System (DBMS)
Database Queries
Database Triggers
Databases
Dependency Injection
DevOps
Docker Products
Dynamic Programming
Emotional Intelligence
Entity Framework
Entity Framework (EF) Core
Expectations Management
Front-end Development
Full-Stack Development
Generative AI
Geographic Information Systems (GIS)
Git
GitHub
Go (Programming Language)
Goal Setting
Google Maps API
GraphQL
HTML
Interaction Design
Internet of Things (IoT)
Interpersonal Communication
Interviewing
IT Automation
IT Management
IT Service Management
Java
JavaScript
JMeter
Job Search Strategies
jQuery
JSON
Jupyter
Key Metrics
Kubernetes
Leadership
Linux
Linux Network Administration
Linux System Administration
Load Testing
Machine Learning
MariaDB
Markup Languages
Maven
Metrics Driven
Microservices
Microsoft Copilot
Microsoft Excel
Microsoft Outlook
Microsoft SQL Server
Microsoft Teams
Microsoft Visual Studio Code
MongoDB
MySQL
Network Administration
Network Troubleshooting
Node.js
NoSQL
NuGet
Object Oriented Design
Object-Oriented Programming (OOP)
Objectives and Key Results (OKRs)
Pandas (Software)
Paper Prototyping
Pattern Matching
Perl
Phone Coverage
PHP
Pivot Tables
Polyglot
PostgreSQL
Postman API
PowerShell
Previsualization
Probability
Problem Solving
Productivity Improvement
Pycharm
Python (Programming Language)
R (Programming Language)
React Native
React.js
Red Hat Enterprise Linux (RHEL)
Red Hat Linux
Redis
Regular Expressions
Relational Databases
Research Skills
Responsible AI
Responsive Web Design
REST APIs
RESTful architecture
Root Cause Analysis
RStudio
Ruby
Ruby on Rails
SAP ERP
Search Engine Optimization (SEO)
Secure Shell (SSH)
Selenium
Selenium WebDriver
Serverless Computing
Shell Scripting
Small Business Management
SoapUI
Software Deployment
Software Design
Software Development
Software Quality Assurance
Software Testing
Solidity
SQL
SQL Server Integration Services (SSIS)
SQL Server Reporting Services (SSRS)
Statistics
System Installations
Teamwork
Technical Writing
Test Automation
Time Management
Tkinter
Transact-SQL (T-SQL)
Troubleshooting
TypeScript
Unified Modeling Language (UML)
User Analysis
User Experience Design (UED)
User Personas
Version Control
Virtual Reality (VR)
Visual Studio
Visualization
Vue.js
Web Application Development
Web Design
Web Development
Web Standards
Windows 10
WordPress
WPF Development
Writing
Xdebug
XML

## August 2024 Courses

In [121]:
aug24_records = cr[cr['Completion Date'].between('2024-08-01','2024-08-31')]
print(f"\n\n{aug24_records['#'].count()} courses completed in August 2024.\n")
aug24_records[['#','Course Title','Completion Date']].set_index('#')

5 courses completed in August 2024.

,Course Title,Completion Date
#,,
202,Copilot for Windows: Leveraging your PC's AI Assistant,2024-08-22
201,What is Copilot? Get Started with Microsoft's Everyday AI Companion,2024-08-21
200,ChatGPT Prompts for Jobseekers,2024-08-15
199,Ethics in the Age of Generative AI,2024-08-05
198,How to Follow Up on a Job Application,2024-08-01

## July 2024 Courses

In [122]:
jul24_records = cr[cr['Completion Date'].between('2024-07-01','2024-07-31')]
print(f"\n\n{jul24_records['#'].count()} courses completed in July 2024.\n")
jul24_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in July 2024.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## June 2024 Courses

In [123]:
jun24_records = cr[cr['Completion Date'].between('2024-06-01','2024-06-30')]
print(f"\n\n{jun24_records['#'].count()} courses completed in June 2024.\n")
jun24_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in June 2024.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## May 2024 Courses

In [124]:
may24_records = cr[cr['Completion Date'].between('2024-5-01','2024-05-31')]
print(f"\n\n{may24_records['#'].count()} courses completed in May 2024.\n")
may24_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in May 2024.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## April 2024 Courses

In [125]:
apr24_records = cr[cr['Completion Date'].between('2024-04-01','2024-04-30')]
print(f"\n\n{apr24_records['#'].count()} courses completed in April 2024.\n")
apr24_records[['#','Course Title','Completion Date']].set_index('#')

2 courses completed in April 2024.

,Course Title,Completion Date
#,,
197,Controlling ChatGPT with Custom Instructions or API System Messages,2024-04-21
196,How to Research and Write Using Generative AI Tools,2024-04-05

## March 2024 Courses

In [126]:
mar24_records = cr[cr['Completion Date'].between('2024-03-01','2024-03-31')]
print(f"\n\n{mar24_records['#'].count()} courses completed in March 2024.\n")
mar24_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in March 2024.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## February 2024 Courses

In [127]:
feb24_records = cr[cr['Completion Date'].between('2024-02-01','2024-02-29')]
print(f"\n\n{feb24_records['#'].count()} course completed in February 2024.\n")
feb24_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in February 2024.

                                     Course Title Completion Date
#
195  How to Boost Your Productivity with AI Tools      2024-02-10

## January 2024 Courses

In [128]:
jan24_records = cr[cr['Completion Date'].between('2024-01-01','2024-01-31')]
print(f"\n\n{jan24_records['#'].count()} courses completed in January 2024.\n")
jan24_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in January 2024.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## December 2023 Courses

In [129]:
dec23_records = cr[cr['Completion Date'].between('2023-12-01','2023-12-31')]
print(f"\n\n{dec23_records['#'].count()} course completed in December 2023.\n")
dec23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in December 2023.

                                 Course Title Completion Date
#
194  Advanced SQL for Application Development      2023-12-18

## November 2023 Courses

In [130]:
nov23_records = cr[cr['Completion Date'].between('2023-11-01','2023-11-31')]
print(f"\n\n{nov23_records['#'].count()} course completed in November 2023.\n")
nov23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in November 2023.

                                       Course Title Completion Date
#
193  Advanced SQL: Logical Query Processing, Part 2      2023-11-13

## October 2023 Courses

In [131]:
oct23_records = cr[cr['Completion Date'].between('2023-10-01','2023-10-31')]
print(f"\n\n{oct23_records['#'].count()} courses completed in October 2023.\n")
oct23_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in October 2023.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## September 2023 Courses

In [132]:
sep23_records = cr[cr['Completion Date'].between('2023-09-01','2023-09-30')]
print(f"\n\n{sep23_records['#'].count()} courses completed in September 2023.\n")
sep23_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in September 2023.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## August 2023 Courses

In [133]:
aug23_records = cr[cr['Completion Date'].between('2023-08-01','2023-08-31')]
print(f"\n\n{aug23_records['#'].count()} course completed in August 2023.\n")
aug23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in August 2023.

                        Course Title Completion Date
#
192  Advanced SQL â€“ Window Functions      2023-08-06

## July 2023 Courses

In [134]:
jul23_records = cr[cr['Completion Date'].between('2023-07-01','2023-07-31')]
print(f"\n\n{jul23_records['#'].count()} courses completed in July 2023.\n")
jul23_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in July 2023.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## June 2023 Courses

In [135]:
jun23_records = cr[cr['Completion Date'].between('2023-06-01','2023-06-30')]
print(f"\n\n{jun23_records['#'].count()} course completed in June 2023.\n")
jun23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in June 2023.

                          Course Title Completion Date
#
191  Introduction to Conversational AI      2023-06-12

## May 2023 Courses

In [136]:
may23_records = cr[cr['Completion Date'].between('2023-05-01','2023-05-31')]
print(f"\n\n{may23_records['#'].count()} course completed in May 2023.\n")
may23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in May 2023.

    Course Title Completion Date
#
190    AI Trends      2023-05-08

## April 2023 Courses

In [137]:
apr23_records = cr[cr['Completion Date'].between('2023-04-01','2023-04-30')]
print(f"\n\n{apr23_records['#'].count()} course completed in April 2023.\n")
apr23_records[['#','Course Title','Completion Date']].set_index('#')

1 course completed in April 2023.

                                        Course Title Completion Date
#
189  Goal Setting: Objectives and Key Results (OKRs)      2023-04-24

## March 2023 Courses

In [138]:
mar23_records = cr[cr['Completion Date'].between('2023-03-01','2023-03-31')]
print(f"\n\n{mar23_records['#'].count()} courses completed in March 2023.\n")
mar23_records[['#','Course Title','Completion Date']].set_index('#')

0 courses completed in March 2023.

Empty DataFrame
Columns: [Course Title, Completion Date]
Index: []

## February 2023 Courses

In [ ]:
feb23_records = cr[cr['Completion Date'].between('2023-02-01','2023-01-31')]
print(f"\n\n{feb23_records['#'].count()} courses completed in February 2023.\n")
feb23_records[['#','Course Title','Completion Date']].set_index('#')

## January 2023 Courses

In [ ]:
jan23_records = cr[cr['Completion Date'].between('2023-01-01','2023-01-31')]
print(f"\n\n{jan23_records['#'].count()} courses completed in January 2023.\n")
jan23_records[['#','Course Title','Completion Date']].set_index('#')

## December 2022 Courses

In [ ]:
dec22_records = cr[cr['Completion Date'].between('2022-12-01','2022-12-31')]
print(f"\n\n{dec22_records['#'].count()} courses completed in December 2022.\n")
dec22_records[['#','Course Title','Completion Date']].set_index('#')

## November 2022 Courses

In [ ]:
nov22_records = cr[cr['Completion Date'].between('2022-11-01','2022-11-30')]
print(f"\n\n{nov22_records['#'].count()} courses completed in November 2022.\n")
nov22_records[['#','Course Title','Completion Date']].set_index('#')

## October 2022 Courses

In [ ]:
oct22_records = cr[cr['Completion Date'].between('2022-10-01','2022-10-31')]
print(f"\n\n{oct22_records['#'].count()} courses completed in October 2022.\n")
oct22_records[['#','Course Title','Completion Date']].set_index('#')

## September 2022 Courses

In [ ]:
sep22_records = cr[cr['Completion Date'].between('2022-09-01','2022-09-30')]
print(f"\n\n{sep22_records['#'].count()} courses completed in September 2022.\n")
sep22_records[['#','Course Title','Completion Date']].set_index('#')

## August 2022 Courses

In [ ]:
aug22_records = cr[cr['Completion Date'].between('2022-08-01','2022-08-31')]
print(f"\n\n{aug22_records['#'].count()} courses completed in August 2022.\n")
aug22_records[['#','Course Title','Completion Date']].set_index('#')

## July 2022 Courses

In [ ]:
jul22_records = cr[cr['Completion Date'].between('2022-07-01','2022-07-31')]
print(f"\n\n{jul22_records['#'].count()} courses completed in July 2022.\n")
jul22_records[['#','Course Title','Completion Date']].set_index('#')

## June 2022 Courses

In [ ]:
jun22_records = cr[cr['Completion Date'].between('2022-06-01','2022-06-30')]
print(f"\n\n{jun22_records['#'].count()} courses completed in June 2022.\n")
jun22_records[['#','Course Title','Completion Date']].set_index('#')

## May 2022 Courses

In [ ]:
may22_records = cr[cr['Completion Date'].between('2022-05-01','2022-05-31')]
print(f"\n\n{may22_records['#'].count()} courses completed in May 2022.\n")
may22_records[['#','Course Title','Completion Date']].set_index('#')

## April 2022 Courses

In [ ]:
apr22_records = cr[cr['Completion Date'].between('2022-04-01','2022-04-30')]
print(f"\n\n{apr22_records['#'].count()} courses completed in April 2022.\n")
apr22_records[['#','Course Title','Completion Date']].set_index('#')

## March 2022 Courses

In [ ]:
mar22_records = cr[cr['Completion Date'].between('2022-03-01','2022-03-31')]
print(f"\n\n{mar22_records['#'].count()} courses completed in March 2022.\n")
mar22_records[['#','Course Title','Completion Date']].set_index('#')

## February 2022 Courses

In [ ]:
feb22_records = cr[cr['Completion Date'].between('2022-02-01','2022-02-28')]
print(f"\n\n{feb22_records['#'].count()} courses completed in February 2022.\n")
feb22_records[['#','Course Title','Completion Date']].set_index('#')

## January 2022 Courses

In [ ]:
jan22_records = cr[cr['Completion Date'].between('2022-01-01','2022-01-31')]
print(f"\n\n{jan22_records['#'].count()} courses completed in January 2022.\n")
jan22_records[['#','Course Title','Completion Date']].set_index('#')

## December 2021 Courses

In [ ]:
dec21_records = cr[cr['Completion Date'].between('2021-12-01','2021-12-31')]
print(f"\n\n{dec21_records['#'].count()} courses completed in December 2021.\n")
dec21_records[['#','Course Title','Completion Date']].set_index('#')

## November 2021 Courses

In [ ]:
nov21_records = cr[cr['Completion Date'].between('2021-11-01','2021-11-30')]
print(f"\n\n{nov21_records['#'].count()} courses completed in November 2021.\n")
nov21_records[['#','Course Title','Completion Date']].set_index('#')

## October 2021 Courses

In [ ]:
oct21_records = cr[cr['Completion Date'].between('2021-10-01','2021-10-31')]
print(f"\n\n{oct21_records['#'].count()} courses completed in October 2021.\n")
oct21_records[['#','Course Title','Completion Date']].set_index('#')

## September 2021 Courses

In [ ]:
sep21_records = cr[cr['Completion Date'].between('2021-09-01','2021-09-30')]
print(f"\n\n{sep21_records['#'].count()} courses completed in September 2021.\n")
sep21_records[['#','Course Title','Completion Date']].set_index('#')

## August 2021 Courses

In [ ]:
aug21_records = cr[cr['Completion Date'].between('2021-08-01','2021-08-31')]
print(f"\n\n{aug21_records['#'].count()} courses completed in August 2021.\n")
aug21_records[['#','Course Title','Completion Date']].set_index('#')

## July 2021 Courses

In [ ]:
jul21_records = cr[cr['Completion Date'].between('2021-07-01','2021-07-31')]
print(f"\n\n{jul21_records['#'].count()} courses completed in July 2021.\n")
jul21_records[['#','Course Title','Completion Date']].set_index('#')

## June 2021 Courses

In [ ]:
jun21_records = cr[cr['Completion Date'].between('2021-06-01','2021-06-30')]
print(f"\n\n{jun21_records['#'].count()} courses completed in June 2021.\n")
jun21_records[['#','Course Title','Completion Date']].set_index('#')

## May 2021 Courses

In [ ]:
may21_records = cr[cr['Completion Date'].between('2021-05-01','2021-05-31')]
print(f"\n\n{may21_records['#'].count()} courses completed in May 2021.\n")
may21_records[['#','Course Title','Completion Date']].set_index('#')

## April 2021 Courses

In [ ]:
apr21_records = cr[cr['Completion Date'].between('2021-04-01','2021-04-30')]
print(f"\n\n{apr21_records['#'].count()} courses completed in April 2021.\n")
apr21_records[['#','Course Title','Completion Date']].set_index('#')

## March 2021 Courses

In [ ]:
mar21_records = cr[cr['Completion Date'].between('2021-03-01','2021-03-31')]
print(f"\n\n{mar21_records['#'].count()} courses completed in March 2021.\n")
mar21_records[['#','Course Title','Completion Date']].set_index('#')

## February 2021 Courses

In [ ]:
feb21_records = cr[cr['Completion Date'].between('2021-02-01','2021-02-28')]
print(f"\n\n{feb21_records['#'].count()} courses completed in February 2021.\n")
feb21_records[['#','Course Title','Completion Date']].set_index('#')

## January 2021 Courses

In [ ]:
jan21_records = cr[cr['Completion Date'].between('2021-01-01','2021-01-31')]
print(f"\n\n{jan21_records['#'].count()} courses completed in January 2021.\n")
jan21_records[['#','Course Title','Completion Date']].set_index('#')

## December 2020 Courses

In [ ]:
dec20_records = cr[cr['Completion Date'].between('2020-12-01','2020-12-31')]
print(f"\n\n{dec20_records['#'].count()} courses completed in December 2020.\n")
dec20_records[['#','Course Title','Completion Date']].set_index('#')

## November 2020 Courses

In [ ]:
nov20_records = cr[cr['Completion Date'].between('2020-11-01','2020-11-30')]
print(f"\n\n{nov20_records['#'].count()} courses completed in November 2020.\n")
nov20_records[['#','Course Title','Completion Date']].set_index('#')

## October 2020 Courses

In [ ]:
oct20_records = cr[cr['Completion Date'].between('2020-10-01','2020-10-31')]
print(f"\n\n{oct20_records['#'].count()} courses completed in October 2020.\n")
oct20_records[['#','Course Title','Completion Date']].set_index('#')

## September 2020 Courses

In [ ]:
sep20_records = cr[cr['Completion Date'].between('2020-09-01','2020-09-30')]
print(f"\n\n{sep20_records['#'].count()} courses completed in September 2020.\n")
sep20_records[['#','Course Title','Completion Date']].set_index('#')

# # Courses by Month

In [ ]:
mcr = pd.DataFrame([('Sep \'20', sep20_records['#'].count()),
                   ('Oct \'20', oct20_records['#'].count()),
                   ('Nov \'20', nov20_records['#'].count()),
                   ('Dec \'20', dec20_records['#'].count()),
                   ('Jan \'21', jan21_records['#'].count()),
                   ('Feb \'21', feb21_records['#'].count()),
                   ('Mar \'21', mar21_records['#'].count()),
                   ('Apr \'21', apr21_records['#'].count()),
                   ('May \'21', may21_records['#'].count()),
                   ('Jun \'21', jun21_records['#'].count()),
                   ('Jul \'21', jul21_records['#'].count()),
                   ('Aug \'21', aug21_records['#'].count()),
                   ('Sep \'21', sep21_records['#'].count()),
                   ('Oct \'21', oct21_records['#'].count()),
                   ('Nov \'21', nov21_records['#'].count()),
                   ('Dec \'21', dec21_records['#'].count()),
                   ('Jan \'22', jan22_records['#'].count()),
                   ('Feb \'22', feb22_records['#'].count()),
                   ('Mar \'22', mar22_records['#'].count()),
                   ('Apr \'22', apr22_records['#'].count()),
                   ('May \'22', may22_records['#'].count()),
                   ('Jun \'22', jun22_records['#'].count()),
                   ('Jul \'22', jul22_records['#'].count()),
                   ('Aug \'22', aug22_records['#'].count()),
                   ('Sep \'22', sep22_records['#'].count()),
                   ('Oct \'22', oct22_records['#'].count()),
                   ('Nov \'22', nov22_records['#'].count()),
                   ('Dec \'22', dec22_records['#'].count()),
                   ('Jan \'23', jan23_records['#'].count()),
                   ('Feb \'23', feb23_records['#'].count()),
                   ('Mar \'23', mar23_records['#'].count()),
                   ('Apr \'23', apr23_records['#'].count()),
                   ('May \'23', may23_records['#'].count()),
                   ('Jun \'23', jun23_records['#'].count()),
                   ('Jul \'23', jul23_records['#'].count()),
                   ('Aug \'23', aug23_records['#'].count()),
                   ('Sep \'23', sep23_records['#'].count()),
                   ('Oct \'23', oct23_records['#'].count()),
                   ('Nov \'23', nov23_records['#'].count()),
                   ('Dec \'23', dec23_records['#'].count()),
                   ('Jan \'24', jan24_records['#'].count()),
                   ('Feb \'24', feb24_records['#'].count()),
                   ('Mar \'24', mar24_records['#'].count()),
                   ('Apr \'24', apr24_records['#'].count()),
                   ('May \'24', may24_records['#'].count()),
                   ('Jun \'24', jun24_records['#'].count()),
                   ('Jul \'24', jul24_records['#'].count()),
                   ('Aug \'24', aug24_records['#'].count())],
           columns=('Month', '# Courses')
                 )

In [ ]:
mcr.plot.bar(x='Month', y='# Courses', rot=80, title='# Courses by Month');

In [ ]:
mcr.describe()

### Distribution

In [ ]:
mcr.boxplot();

# pandas Profiling
of *Courses* Dataframe (df)

I liked how this quickly generated a count for the *instructor* field, so I could see which instructors I've taken the most courses by.

*The report did not display in the Notebook on GitHub or GitHub Gist, so I commented out the commands to generate/display it for this posting, but have provided the generated HTML file at the link below.*

In [ ]:
## from pandas_profiling import ProfileReport
# from ydata_profiling import ProfileReport
# profile = ProfileReport(df,title="Courses Data Profile")
# profile.to_notebook_iframe()

In [ ]:
# profile.to_file("./courses-profile/courses-profile.html")

### <a href="https://rogert8.github.io/courses/jupyter/courses-profile.html">Courses Dataframe Profile Report</a>